<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Instagram clone</title>
  <meta name="description" content="Instagram clone">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <header>
        <h1>HOME</h1>
    </header>
    <h2>
        <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
        </div>
]</h2>  
</body>
</html>