<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  {% if title %}
<title>Instagram - {{ title }}</title>
{% else %}
<title>Instagram Clone</title>
{% endif %}
  <meta name="description" content="Instagram clone">
  <meta name="author" content="SitePoint">

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<style>
#image {
    max-width: 400px;
}

#wordmark {
    max-width: 150px;

}

body {
    background-color: #FAFBFC;
}

#signupform {
    margin-top: 80px;
}
</style>



</head>
</html>