<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  {% if title %}
<title>Instagram - {{ title }}</title>
{% else %}
<title>Instagram Clone</title>
{% endif %}
  <meta name="description" content="Instagram clone">
  <meta name="author" content="SitePoint">

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
#image {
    max-width: 400px;
}

#wordmark {
    max-width: 150px;

}

body {
    background-color: #FAFBFC;
}

#signupform {
    margin-top: 80px;
}
</style>



</head>
</html>
<body>
<h1></h1>{{ current_user.email }}
{{ current_user.username }}
{{ file }}
{{ current_user.id }}
</h1>

<div class="col-sm-6">
    <img class="rounded-circle account-img" src="{{ image_file }}">
</div>
<div class="col-sm-6" id="signupform">
    <img src="/static/wordmark.svg" id="wordmark">
<div class="content-section">
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Edit your username/password</legend>
        <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        </div>

    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
</div>
</div>
<form action={{url_for("users.profilepic", id=current_user.id)}} method="POST", enctype="multipart/form-data">
<div class="form-group">
        {{ form.image_file.label() }}s
        {{ form.image_file(class="form-control-file") }}
        {% if form.image_file.errors %}
            {% for error in form.image_file.errors %}
                <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
        {% endif %}
</div>
<div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
</body>

